.last-news {
    @apply
    w-full
    lg:pb-20
    pb-8
    lg:pt-0
    pt-4
    max-w-1420
    mx-auto
}

.last-news .wrapper-content {
    @apply
    mt-8
    lg:mt-10
    flex
    flex-col
    lg:flex-row
    w-full
    lg:gap-5
    gap-8
    items-center
    px-4
    lg:px-0
    lg:justify-center
}