.single-cover{
    @apply
    h-[520px]
    lg:h-[587px]
    w-full
    bg-center
    bg-cover
}

.enterprise-content {
    @apply
    w-full
    flex
    flex-col-reverse
    lg:flex-row
    justify-between
    gap-8
    relative
}

.enterprise-content .content {
    @apply
    w-full
    lg:max-w-[60%]
    lg:pt-20
    pt-12
    pb-16
}

.enterprise-content .content h1{
    @apply
    text-3xl
    font-bold
    mb-5
}

.enterprise-content .content p {
    @apply
    text-base
    text-secondary-light
    mb-7
}

.enterprise-content .content .wrapper {
    @apply
    flex
    lg:items-center
    items-start
    flex-col
    lg:flex-row
    gap-7
    w-full
}

.enterprise-content .content .wrapper .icon-info {
    @apply
    flex
    items-center
    align-middle
    mb-0
    gap-3
}

.enterprise-content .content .wrapper .icon-info span {
    @apply
    text-secondary-light
}

.enterprise-content .side-bar{
    @apply
    relative w-full h-full max-w-[39.5%]
    hidden
    lg:block
}

.enterprise-content .fixed-content {
    @apply
    bg-secondary
    p-10
    flex
    flex-col
    justify-center
    align-middle
    items-center
    mt-16
    relative
    z-10
}

.enterprise-content .fixed-content .content-title {
    @apply
    border-b-gray
    border-b
    w-full
    flex
    flex-col
    justify-center
    align-middle
    items-center
}

.enterprise-content .fixed-content .content-title img{
    @apply
    mb-10
}

.enterprise-content .fixed-content .content-title .wrapper {
    @apply
    flex
    items-center
    justify-evenly
    w-full
}

.enterprise-content .fixed-content .content-title .wrapper .icon-info {
    @apply
    flex
    items-center
    align-middle
    mb-0
    p-5
    gap-3
}

.enterprise-content .fixed-content .content-title .wrapper .icon-info img{
    @apply
    mb-0
}

.enterprise-content .fixed-content .content-title .wrapper .icon-info span {
    @apply
    text-white

}

.enterprise-content .fixed-content .content-action {
    @apply
    flex
    flex-col
    pt-10
    gap-1
    w-full
}

.enterprise-content .content .about-content {
    @apply
    border-b
    border-t
    border-gray
    mb-12
    mt-10
    pb-12
    pt-16
    px-4
    lg:px-0
}

.enterprise-content .content .about-content h3 {
    @apply
    text-sm
    text-secondary-light
    mb-10
}

.enterprise-content .content .about-content h1 {
    @apply
    text-3xl
    mb-10
}

.enterprise-content .content .about-content p {
    @apply
    text-base
}

.enterprise-content .content .enterprise-info {
    @apply
    border-b
    border-gray
    mb-16
    pb-12
    pt-4
    px-4
    lg:px-0
}

.enterprise-content .content .enterprise-info h3 {
    @apply
    text-sm
    text-secondary
    mb-5
}

.enterprise-content .content .enterprise-info .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    @apply
    grid
    gap-x-4
    gap-y-0
    lg:gap-y-1
}


.enterprise-content .content .enterprise-info .wrapper p {
    @apply
    text-secondary-light flex mb-2
}

.enterprise-content .content .enterprise-info .wrapper p span{
    @apply
    text-third
    mr-3
    text-base
}

.enterprise-gallery{
    @apply
    lg:pl-0
    pl-4
}

.enterprise-gallery#PLANTAS{
    @apply
    pr-4
}

.enterprise-content .content .enterprise-gallery .btn-actions {
    @apply
    flex
    gap-5
    py-8
    overflow-auto
}

.enterprise-content .content .enterprise-info .wrapper {
    @apply
    mt-10
}

.enterprise-content .content .enterprise-info p {
    @apply
    text-base
    text-secondary-light
}

.enterprise-content .content .enterprise-info .wrapper-3 {
    @apply
    grid-cols-3
    grid
    gap-y-3
    mb-10
}

.enterprise-content .content .enterprise-info .wrapper-3 p{
    @apply
    text-secondary-light
    mb-0
}

.enterprise-content .content .enterprise-info .wrapper-3 p span{
    @apply
    text-third
    mr-3
    text-base
}

.enterprise-content .content .enterprise-info .wrapper-graph {
    @apply
    flex
    gap-12
    pl-16
    pr-16
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph {
    @apply
    w-48
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content {
    @apply
    grid
    grid-cols-2
    w-full
    gap-x-3
    h-full
    items-center
    pt-3
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content .col{
    @apply
    flex
    flex-col
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content .col .wrapper-content {
    @apply
    mb-6
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content .col .wrapper-content .bar{
    @apply
    w-full
    overflow-hidden
    bg-secondary-light
    h-[3px]
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content .col .wrapper-content .bar .progress{
    @apply
    bg-third
    h-full
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content .col .wrapper-content .info {
    @apply
    flex
    mt-1
    justify-between
}

.enterprise-content .content .enterprise-info .wrapper-graph .graph-content .col .wrapper-content .info span{
    @apply
    text-sm
    text-secondary-light
}

.enterprise-content .enterprise-info .contact {
    @apply
    flex-col
    flex
    w-full
}

.enterprise-content .enterprise-info .contact h1 {
    @apply
    text-2xl
    w-full
    font-bold
}

.enterprise-content .enterprise-info .contact .message-contact {
    @apply
    flex
    flex-col
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper {
    @apply
    flex
    flex-col
    w-full
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper .input-line {
    @apply
    w-full
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper .input-line textarea {
    @apply
    w-full
    outline-0
}

.enterprise-content .enterprise-info .contact .message-contact .message-contact-grid {
    @apply
    pt-6
    grid
    grid-cols-2
    w-full
    gap-5
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper {
    @apply
    w-full
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper .input-line {
    @apply
    mb-10
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper input {
    @apply
    w-full
    border-b-2
    outline-0
    border-secondary-light
    p-1
}

.enterprise-content .enterprise-info .contact .message-contact .wrapper .input-line legend {
    @apply
    text-sm
    text-secondary-light
}

.enterprise-content .enterprise-info .contact .message-send {
    @apply
    flex
    justify-between
    gap-8
    border-t-2
    border-secondary-light
    pt-10
}

.enterprise-content .enterprise-info .contact .message-send img {
    @apply
    flex
    self-start
}

.enterprise-content .enterprise-info .contact .message-send p{
    @apply
    text-xs
    text-secondary-light
}

.recommended-buildings {
    @apply
    w-full
    bg-secondary
    relative
    z-20
    pb-12
    px-4
    lg:px-0
}

.recommended-buildings div .content-build {
    @apply
    w-full
    pt-16
}

.recommended-buildings div .content-build h1{
    @apply
    text-third
    text-xl
    font-bold
    mb-16
    text-center
    lg:text-left
}


.recommended-buildings div .content-build .new-wrapper {
    @apply
    w-full
    flex
    flex-col
    lg:flex-row
    /* h-[667px] */
    gap-3
}

.recommended-buildings .main-container {
    @apply
    mb-0
}

.gallery-button{
    @apply
    border-secondary text-secondary hover:bg-third hover:border-third whitespace-nowrap
}

.gallery-button.active{
    @apply
    bg-third border-third
}

.enterprise-info .carousel-container{
    @apply
    relative w-full
}

#PLANTAS{
    @apply
    mt-12
}

.enterprise-video, .enterprise-local, .enterprise-progress, .enterprise-contact{
    @apply
    border-t border-gray mt-20 px-4 lg:px-0
}

.enterprise-video h3, .enterprise-local h3, .enterprise-progress h3, .enterprise-contact h3{
    @apply
    py-16
}

.enterprise-video .content-video img{
    @apply
    h-[494px] object-cover
}

.enterprise-local .local-wrapper{
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @apply
    grid
    gap-x-4
    gap-y-1
}

.enterprise-content .enterprise-local .local-wrapper p {
    @apply
    text-secondary-light flex text-sm
}

.enterprise-content .enterprise-local .local-wrapper p span{
    @apply
    text-third
    mr-3
}

.enterprise-content .enterprise-local .content-map img{
    @apply
    h-[494px] object-cover
}

.enterprise-progress .wrapper-graph{
    @apply
    flex gap-8 items-center flex-wrap flex-col lg:flex-row
}

.enterprise-progress .wrapper-graph .graph{
    flex:1;
    @apply
    p-12
}

.enterprise-progress .wrapper-graph .graph-content{
    flex:3;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @apply
    flex lg:grid gap-x-4 flex-col lg:w-auto w-full
}


.enterprise-title{
    @apply
    lg:px-0 px-4
}