.search-modal {
    transform:translate(0, -100%);
    @apply
    w-full h-full fixed bg-white z-50 transition top-0
}

.search-modal.active{
    transform:translate(0, 0);
}


.search-modal .close {
    @apply
    absolute
    top-5
    right-5
}

.search-modal .close img{
    @apply
    w-6 h-6
}

.search-modal .container {
    width:calc(100% - 40px);
    @apply
    max-w-2xl
    flex
    justify-center
    pt-32
    border-b-2
    h-max
    mx-auto
}

.search-modal .container .search-box{
    @apply
    flex
    w-full
    h-max
    justify-center
    items-center
}

.search-modal .container .search-box input {
    @apply
    border-0
    outline-0
    h-max
    p-3
    w-full
}

.search-modal .container .search-box img {
    @apply
    border-0
    outline-0
    h-max
}