.high-buildings {
    @apply
    flex
    flex-col
    gap-10
}

.high-buildings .slider-box{
    @apply
    lg:h-[704px]
    max-w-[1420px]
    overflow-hidden
    relative
    w-full
    mx-auto
    flex
    px-4
}

.slider-size{
    width:calc(100% - 240px);

    @apply
    relative overflow-hidden
}


.high-buildings .slider-box .slider-navigation{
    min-width:120px;

    @apply
    h-full flex items-center absolute lg:relative overflow-hidden z-20
}

@media(max-width:1024px){
    .high-buildings .slider-box .slider-navigation{
        min-width:20px;
    }
}

.high-buildings .slider-box .slider-navigation svg{
    @apply
    transition hover:scale-105 fill-third w-8 h-8 relative z-20
    -mt-80 lg:mt-0
}

.high-buildings .slider-box .slider-navigation:first-child{
    @apply
    justify-end left-0 lg:justify-start
}

.high-buildings .slider-box .slider-navigation:last-child{
    @apply
    justify-end right-0
}