.cover {
    @apply
    w-full
    h-[520px]
    lg:h-[870px]
    bg-no-repeat
    bg-top
    bg-cover
    relative
}

.cover .title {
    @apply
    absolute top-2/4 -translate-y-2/4 w-full lg:w-auto px-4 items-center flex flex-col
    lg:items-start
}

.banner-container{
    max-width:1420px;

    @apply
    mx-auto relative h-full justify-center flex lg:justify-start
}

.cover .title h1,
.cover .title h3 {
    @apply
    lg:mb-14
    mb-8
    text-primary text-center lg:text-left
}

.cover .title h3 {
    @apply
    font-semibold
    text-xs
}

.cover .title h1 {
    @apply
    text-3xl
    lg:text-5xl
    font-bold
    max-w-72
}

.cover .title button{
    @apply
    w-full lg:w-auto
}

.cover .title button:hover{
    background-color: #FAAF1D!important;
    border: #FAAF1D;
    box-sizing: border-box;
    color: black!important;
}

.cover .cover-degree {
    @apply
    absolute
    left-0
    top-0
    w-full
    h-[520px]
    lg:h-[870px]
    bg-black
    opacity-20
}