.cover {
    @apply
    w-full
    h-[870px]
    bg-no-repeat
    bg-top
    bg-cover
    relative
}

.cover .title {
    @apply
    absolute
    left-56
    top-52
}

.cover .title h1,
.cover .title h3 {
    @apply
    mb-14
    text-primary
}

.cover .title h3 {
    @apply
    font-semibold
    text-xs
}

.cover .title h1 {
    @apply
    text-5xl
    font-bold
    max-w-72
}

.cover .title button:hover{
    background-color: #FAAF1D!important;
    border: #FAAF1D;
    box-sizing: border-box;
    color: black!important;
}

.cover .cover-degree {
    @apply
    absolute
    left-0
    top-0
    w-full
    h-[870px]
    bg-black
    opacity-20
}