.bg-asset {
    @apply
    absolute
    right-[-460px]
    top-10
    hidden
    lg:block
}

.bg-asset img {
    @apply
    w-[1628px]
    lg:h-auto
}

.about {
    @apply
    w-full
    flex
    justify-center
}

.about .container {
    @apply
    lg:pt-16
    pt-8
    max-w-[1383px]
    w-full
    lg:pl-32
    p-4
    relative
}

.about .container .container-content{
    @apply
    max-w-[882px]
}

.about .container .container-content .about-video{
    @apply
    lg:h-auto
    h-[478px]
    object-cover
}

.about .container .wrapp-info {
    @apply
    absolute
    right-[-50px]
    top-[523px]
    lg:block
    hidden
}

.about .container .wrapp-info h3 {
    @apply
    border-b-2
    border-third
    mb-6
    font-bold
    text-2xl
    text-secondary-light
    max-w-max
}

.about .container .container-content .about-title {
    @apply
    lg:mt-14
    mt-8
    max-w-[880px]
    lg:pb-32
    pb-8
}

.about .container .container-content .about-title h3 {
    @apply
    mb-14
    text-secondary-light
    text-sm text-center lg:text-left text-lg
}

.about .container .container-content .about-title h1 {
    @apply
    lg:text-6xl
    text-3xl
    max-w-3xl
    mb-14
    font-bold
    text-center
    lg:text-left
}

.about .container .container-content .about-title p {
    @apply
    text-secondary
    text-base
}

.about .container .container-content .about-title .about-info .line{
    @apply
    border-b-2
    border-third
    max-w-max
    pl-10
    pb-2
}

.about .container .container-content .about-title .about-info .line p{
    @apply
    translate-x-3
    font-bold
}

.about .container .container-content .about-title .about-info {
    @apply
    mt-16
    mb-16
}

.about .container .container-content .about-title .about-info .info-content {
    @apply
    pl-12
    pt-5
    text-base
    text-secondary
}

.about .container .container-content .about-title .about-info ul {
    @apply
    pl-20
    pt-5
    text-base
    text-secondary
    list-disc
}

.about .container .container-content .about-title .about-info h3 {
    @apply
    pl-12
    pt-5
    mb-0
    text-secondary
    font-bold
    text-2xl
    text-left
}

.about .container .container-content .about-title .about-info h3:last-child {
    @apply
    pt-0
}

.about .container .container-content .about-title .about-info .address {
    @apply
    mt-10
    mb-10
    flex
    pl-12
    flex-col
    lg:pr-0
    pr-4
}

.about .container .container-content .about-title .about-info .address h3 {
    @apply
    pl-0
}

.about .container .container-content .about-title .about-info .address .address-city {
    @apply
    text-sm
    mb-3
}

.about .container .container-content .about-title .about-info .address .address-street {
    @apply
    text-sm
    text-secondary-light
}

.about .container .container-content .about-title .about-info .address .address-phone {
    @apply
    font-medium
    text-secondary
}

.about .container .container-content .about-title .contact {
    @apply
    flex-col
    flex
    w-full
}

.about .container .container-content .about-title .contact h1 {
    @apply
    text-2xl
    w-full
    font-bold
}