.title-filter {
    @apply
    w-full
    flex
    flex-col
}

.title-filter .wrapper {
    @apply
    w-full
    flex
    flex-col
    lg:flex-row
    justify-between
    lg:pt-10
    pb-10
    items-center
}

.title-filter .wrapper h1{
    @apply
    lg:text-2xl
    text-lg
    font-bold
}

.title-filter .wrapper .filters{
    @apply
    flex
    gap-5
    flex-col
    lg:flex-row
    lg:w-auto
    w-full
    px-4
    lg:px-0
    mt-4
    lg:mt-0
}

.title-filter .wrapper .filters select{
    @apply
    bg-[#F1F2F4]
    border-secondary-light
    border
    p-2
    outline-0
    cursor-pointer
    text-sm
    w-full
}

.title-filter .active-filters {
    @apply
    w-full
    flex
    gap-x-7
    gap-y-2
    flex-wrap
    px-4
}

.title-filter .active-filters span{
    @apply
    cursor-pointer
    text-sm
}