.subdivision-card {
    @apply
    flex
    max-w-[465px]
    w-full
    flex-col
    border-[#CDCDCD]
    border
}

.subdivision-card .image-card {
    @apply
    h-[248px]
    object-cover
}

.subdivision-card .container {
    @apply
    p-5
    mt-[-1px]
}

.subdivision-card .container h3 {
    @apply
    text-sm
    font-semibold
    text-secondary-light
    mb-2
}

.subdivision-card .container h1 {
    @apply
    text-xl
    text-secondary-light
    mb-3
}

.subdivision-card .container p {
    @apply
    text-xs
    flex
    align-middle
    text-secondary-light
    text-center
    mb-5
}

.subdivision-card .container p img {
    @apply
    w-5
    mr-3
    mb-0
}

.subdivision-card .container button {
    @apply
    w-max
}

.subdivision-card:hover .container button {
    background-color: #FAAF1D!important;
    color: black!important;
    transition: .3s!important;
    border: 1px solid #FAAF1D!important;
}

.subdivision-card:hover {
    border: 1px solid #FAAF1D!important;
    transition: .3s!important;
    cursor: pointer!important;
}