.footer {
    @apply
    w-full
    lg:h-[409px]
    bg-secondary
    flex
    justify-center
    items-center
}

.footer .container {
    @apply
    max-w-1420
    w-full
    flex
    flex-col
    justify-between
    h-full
    pt-16
    pb-7
}

.footer .container .wrapper:first-child {
    @apply
    flex
    flex-col
    items-center
    lg:grid
    lg:grid-cols-[30%_1fr]
    w-full
    lg:gap-28
    gap-8
}

.footer .container .wrapper:first-child .actions{
    @apply
    flex
    flex-col
    w-full
}

.footer .container .wrapper:first-child .actions .addresses{
    @apply
    flex
    flex-col
    lg:flex-row
    w-full
    justify-between
    items-center
    lg:items-start
    gap-8
    lg:gap-0
}

.footer .container .wrapper:first-child .actions .addresses .address{
    @apply
    flex
    flex-col
    text-left
    w-max
}

.footer .container .wrapper:first-child .actions .addresses .address h3 {
    @apply
    text-sm
    text-third
}

.footer .container .wrapper:first-child .actions .addresses .address p {
    @apply
    text-sm
    font-extrabold
    text-primary
    text-center
    lg:text-left
}

.footer .container .wrapper:first-child .actions .links {
    @apply
    flex
    flex-col
    lg:flex-row
    gap-5
    text-center
    lg:flex-nowrap
    h-full
    mt-8
    lg:mt-16
    align-middle
    justify-between
    mb-8
    lg:mb-0
}

.footer .container .wrapper:first-child .actions .social-links{
    @apply
    flex
    flex-row
    justify-center
    gap-8
    mb-4
    lg:mb-0
}

.footer .container .wrapper:first-child .actions .links .nav-link{
    @apply
    text-sm
    text-primary
    self-center
}

.footer .container .wrapper:last-child {
    @apply
    border-solid
    border-t
    border-secondary-light
    pt-5
    flex
    flex-col
    lg:flex-row
    items-center
    lg:items-start
    justify-between
    gap-8
    lg:gap-0
}

.footer .container .wrapper:last-child p {
    @apply
    text-primary
    text-xs
    text-center
    lg:text-left
    whitespace-pre-line
    lg:whitespace-normal
}