.news {
    @apply
    w-full
    flex
    flex-col
    pt-16
    pb-16
    pl-36
    pr-36
}

.news .news-title {
    @apply
    text-left
    text-3xl
    mb-14
    text-secondary
    font-bold
}

.news .highlight-card {
    @apply
    flex
    gap-9
    w-full
}

.news .highlight-card img{
    @apply
    max-w-[581px]
    w-full
    h-[375px]
    object-cover
}

.news .highlight-card .content {
    @apply
    pt-11
    pb-11
    flex
    flex-col
    justify-evenly
}

.news .highlight-card .content h3 {
    @apply
    text-sm
    text-secondary-light
    font-semibold
    mb-8
}

.news .highlight-card .content h1 {
    @apply
    text-3xl
    font-bold
    mb-8
    max-w-3xl
}

.news .highlight-card .content button {
    @apply
    max-w-max
}
.news .news-subtitle {
    @apply
    mt-12
    mb-12
    font-bold
    text-sm
}

.news .grid-list {
    @apply
    grid
    grid-cols-4
    gap-5
    h-auto
    gap-x-5
}

.news .highlight-card .content button:hover {
    background-color: #FAAF1D!important;
    color: black!important;
    transition: .3s!important;
    border: 1px solid #FAAF1D!important;
}