.news {
    @apply
    w-full
    flex
    flex-col
    p-4
    lg:py-16
    lg:px-36
}

.news .news-title {
    @apply
    lg:text-left
    text-center
    lg:text-3xl
    text-lg
    lg:mb-14
    mb-8
    lg:mt-0
    mt-2
    text-secondary
    font-bold
}

.news .highlight-card {
    @apply
    flex
    gap-9
    w-full
    flex-col
    lg:flex-row
}

.news .highlight-card img{
    @apply
    max-w-[581px]
    w-full
    h-[375px]
    object-cover
}

.news .highlight-card .content {
    @apply
    pt-11
    pb-11
    flex
    flex-col
    justify-evenly
}

.news .highlight-card .content h3 {
    @apply
    text-sm
    text-secondary-light
    font-semibold
    mb-8
}

.news .highlight-card .content h1 {
    @apply
    text-3xl
    font-bold
    mb-8
    max-w-3xl
}

.news .highlight-card .content button {
    @apply
    max-w-max
}
.news .news-subtitle {
    @apply
    mt-12
    mb-12
    font-bold
    text-sm
    hidden
    lg:block
}

.news .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    @apply
    grid
    gap-8
    h-auto
    gap-x-12
    lg:mt-0
    mt-8
}

.news .highlight-card .content button:hover {
    background-color: #FAAF1D!important;
    color: black!important;
    transition: .3s!important;
    border: 1px solid #FAAF1D!important;
}