.history {
    @apply
    border-b
    border-gray
    w-full
    pb-36
    pl-40
    pr-40
    justify-center
    flex
    flex-col
    items-center
}

.history .history-title {
    @apply
    pt-10
    pb-10
    w-full
    text-6xl
    font-bold
    text-center
    max-w-3xl
    text-secondary
}

.history img {
    @apply
    mb-12
}

.history button:hover {
    background-color: #FAAF1D!important;
    color: black!important;
    transition: .3s!important;
    border: 1px solid #FAAF1D!important;
}