.new {
    @apply
    max-w-900
    lg:pt-20
    pt-8
    w-full
}

.new .title-new {
    @apply
    lg:mb-20 px-4 mb-8
}

.new .title-new h3 {
    @apply
    text-sm
    text-secondary-light
    text-center
    lg:mb-10
    mb-8
}

.new .title-new h1 {
    @apply
    lg:text-3xl
    text-lg
    font-bold
    text-center
    lg:mb-20
    mb-4
}

.new .title-new img{
    @apply
    h-[231px]
    lg:h-auto
    object-cover
}

.new .new-body {
    @apply
    lg:px-14
    px-4
}

.new .new-body h3 {
    @apply
    lg:text-xl
    text-lg
    font-bold
    text-secondary-light
    lg:mb-16
    mb-4
}

.new .new-body .body-content p {
    @apply
    mb-8
    text-base
    text-secondary-light
}

.new .new-body .body-content .body-share {
    @apply
    lg:my-10
    px-4
    py-10
    flex
    border-t
    border-b
    border-gray
    items-center
    lg:justify-start
    justify-between
    gap-7
}

.new .new-body .body-content .body-share h3 {
    @apply
    m-0
    lg:text-base text-xs
}

.new .new-body h1 {
    @apply
    text-xl
    font-bold
    lg:mb-20
    mb-8
    mt-8
    lg:mt-0
    text-center
    lg:text-left
}

.new-wrapper {
    @apply
    flex
    gap-5
    flex-col
    lg:flex-row
    px-4
}