.blog-card {
    max-width: 465px;
    
    @apply
    lg:w-[282px]
    w-full
    lg:h-[399px]
    h-[358px]
    flex
    flex-col
    justify-between
}

.blog-card img{
    @apply
    mb-5
    w-full
    h-[182px]
    cursor-pointer
    object-cover
}

.blog-card .wrapper {
    @apply
    flex
    flex-col
    justify-between
    h-full
}

.blog-card .wrapper .content h3 {
    @apply
    text-sm
    text-secondary-light
    font-semibold
    mb-3
}

.blog-card .wrapper .content h1 {
    @apply
    font-bold
    text-base
}

.blog-card .wrapper button {
    @apply
    lg:max-w-max w-full
}

.blog-card .wrapper button:hover {
    background-color: #FAAF1D!important;
    color: black!important;
    transition: .3s!important;
    border: 1px solid #FAAF1D!important;
}