.header {
    @apply
    h-16
    w-full
    bg-secondary
    items-center
    flex
    justify-center
    p-2
    sticky
    top-0
    z-50
    border-b
    border-black
}

.header .container {
    @apply
    w-full
    max-w-1420
    flex
    justify-between
    h-full
    relative
    z-50
}

.header .container img {
    @apply
    cursor-pointer
    relative
    z-50
}

.header .container .ul {
    @apply
    items-center
    flex
    text-center
    h-full
    gap-14
}

.header .container .ul li a {
    @apply
    text-primary
    items-center
    text-center
    hover:text-third
    hover:transition-all
    duration-300
    relative
}

.header .container .ul li a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 2px;
    left: 0;
    background-color: #FAAF1D;
}

.header .container .action-header {
    @apply
    flex
    text-center
    items-center
    gap-4
    px-2
    relative
    z-50
}

.header .container .action-header button:last-child{
    @apply
    ml-5
}

.container .action-header button:first-child:hover {
    background-color: #FAAF1D;
    transition: .3s;
    color: black!important;
}

.header .container .action-header .desktop-available{
    @apply
    hidden lg:block
}

.header .container .ul.desktop-available{
    @apply
    hidden lg:flex
}

.header .toogle{
    @apply
    w-8 h-8 lg:hidden flex justify-around flex-col cursor-pointer
}

.header .toogle span{
    @apply
    h-0.5 bg-white w-full transition
}

.header .toogle.active span:nth-child(3){
    @apply
    opacity-0
}

.header .toogle.active span:nth-child(1){
    @apply
    rotate-45 mt-2
}

.header .toogle.active span:nth-child(2){
    @apply
    -rotate-45 -mt-3
}